.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  clip-path: inset(100%);
}

._pc-none {
  @include media(sm,min) {
    display: none !important;
  }
}
._sp-none {
  @include media(sm) {
    display: none !important;
  }
}

._xs-none {
  @include media(xs) {
    display: none !important;
  }
}

._xs-md-none {
  @include media(xs md) {
    display: none !important;
  }
}
