<%- include('./include/_functions.ejs') %>
<!DOCTYPE html>
<html lang="ja">
<%- include('./include/_@head.ejs') %>
<body>
  <!-- Google Tag Manager (noscript) -->
  <!-- End Google Tag Manager (noscript) -->
  <%- include('./include/_@header.ejs') %>

  <main class="main home" id="main">
    template
  </main>

  <%- include('./include/_@footer.ejs') %>
</body>

</html>
